<h3 class="ui header">{{t "forms.i-i-s-probatri-форма-рег-входа-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probatri-форма-рег-входа-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-probatri-форма-рег-входа-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probatri-форма-рег-входа-e.комната-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.комната
      displayAttributeName="номер"
      autocomplete=true
      relationName="комната"
      projection="КомнатаL"
      title=(t "forms.i-i-s-probatri-форма-рег-входа-e.комната-caption")
      readonly=readonly
      componentName="комнатаLookup"
      class=(if (v-get validationModel "комната" "isInvalid") "error")
      data-test-i-i-s-probatri-форма-рег-входа-e-комната=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "комната" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probatri-форма-рег-входа-e.тЧРегВхСотр-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧРегВхСотрGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧРегВхСотр
      content=model.тЧРегВхСотр
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧРегВхСотр" "isInvalid") "error")
      data-test-i-i-s-probatri-форма-рег-входа-e-тЧРегВхСотр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧРегВхСотр" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probatri-форма-рег-входа-e.тЧРегВхГост-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧРегВхГостGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧРегВхГост
      content=model.тЧРегВхГост
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧРегВхГост" "isInvalid") "error")
      data-test-i-i-s-probatri-форма-рег-входа-e-тЧРегВхГост=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧРегВхГост" "message")}}
  </div>
</form>
